@model DAL.Models.Payroll
@{
    ViewData["Title"] = "Create Payroll";
}
<h2>Create Payroll</h2>

<form asp-action="Create">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label>Employee</label>
        <select asp-for="EmployeeId" asp-items="ViewBag.EmployeeId" class="form-control">
            <option value="">-- Select Doctor --</option>
        </select>
        <span asp-validation-for="EmployeeId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Salary"></label>
        <input asp-for="Salary" class="form-control" />
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NetSalary"></label>
        <input asp-for="NetSalary" class="form-control" />
        <span asp-validation-for="NetSalary" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HourlySalary"></label>
        <input asp-for="HourlySalary" class="form-control" />
        <span asp-validation-for="HourlySalary" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BonusSalary"></label>
        <input asp-for="BonusSalary" class="form-control" />
        <span asp-validation-for="BonusSalary" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Compensation"></label>
        <input asp-for="Compensation" class="form-control" />
        <span asp-validation-for="Compensation" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AccountNumber"></label>
        <input asp-for="AccountNumber" class="form-control" />
        <span asp-validation-for="AccountNumber" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}