@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<p>
    Your privacy is important to us. This Hospital Management System collects and stores
    user information only for managing hospital services efficiently.
</p>

<h4>Information Collection</h4>

<p>
    We may collect patient, doctor and appointment related information for system management purposes.
</p>

<h4>Data Security</h4>

<p>
    All information is securely stored and access is restricted to authorized users only.
</p>

<h4>User Responsibility</h4>

<p>
    Users are responsible for maintaining the confidentiality of their login credentials.
</p>

<h4>System Usage</h4>

<p>
    This system is intended for educational and hospital management purposes only.
</p>
